body {
  font-family: "Lato", sans-serif;
}

.sidenav {
  height: 1000px;
  width: 250px;
  float: left;
  position: relative;
  z-index: 0;
  top: 0;
  left: 0;
  background-color: #808e9b;
  overflow-x: hidden;
}

.sidenav a, .dropdown-btn {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #black;
  display: block;
  border: none;
  background: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
  outline: none;
}

.sidenav a:hover, .dropdown-btn:hover {
  background-color: gray;
}

.main {
  margin-left: 250px;
  padding: 0px 10px;
}

.active {
  background-color: silver;
  color: black;
}

.dropdown-container {
  display: none;
  background-color: silver;
  padding-left: 8px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
